@{
    ViewData["Title"] = "\"Privacy Policy\"";
}
<h1>@ViewData["Title"]</h1>

<p>
    If you were hoping to find some legal text here,
    you are to be sorely disappointed. Instead you have
    stumbled upon an Easter Beherit.
</p>

<a href="https://static.wikia.nocookie.net/berserk/images/b/b2/Manga_E0-4_Beherit.png/revision/latest?cb=20170928061240">
    <img src="https://static.wikia.nocookie.net/berserk/images/b/b2/Manga_E0-4_Beherit.png"
        style="width:500px" title="Image from https://berserk.fandom.com/wiki/Beherit?file=Manga_E0-4_Beherit.png" />
</a>

<p>
    May the forces of Chaos grant you your deepest
    desire in the most unpleasant way imaginable.
</p>
